@page "/backoffice"


<div class="row m-4 justify-content-center">
    <div class="col-md-12">
        <div class="d-flex gap-2 mb-2">
        <div class="col-md-4">
               <div class="Card-box">
                    <div class="thumb">
                        <img src="images/icons/finance_mode_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png" alt="Sales Report"/>
                     </div>
                    <div class="Content">
                        <h4 class="title">
                        <a href="#">Sales Reports</a>
                        </h4>
                        <p>View sales reports</p>
                    </div>
                </div>
        </div>

         <div class="col-md-4">
               <div class="Card-box">
                    <div class="thumb">
                        <img src="images/icons/finance_mode_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png" alt="Sales Report"/>
                     </div>
                    <div class="Content">
                        <h4 class="title">
                        <a href="#">Inventory Management</a>
                        </h4>
                        <p>View, manage and order stocks</p>
                    </div>
                </div>
        </div>

         <div class="col-md-4">
               <div class="Card-box">
                    <div class="thumb">
                        <img src="images/icons/finance_mode_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png" alt="Sales Report"/>
                     </div>
                    <div class="Content">
                        <h4 class="title">
                        <a href="#">Settings</a>
                        </h4>
                        <p>Business, system and users</p>
                    </div>
                </div>
        </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="d-flex gap-2 mb-2">
            <div class="col-md-4">
                <div class="Card-box">
                    <div class="thumb">
                        <img src="images/icons/finance_mode_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png" alt="Sales Report" />
                    </div>
                    <div class="Content">
                        <h4 class="title">
                            <a href="#">Open Drawer</a>
                        </h4>
                        <p>Till drawer opens</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="Card-box">
                    <div class="thumb">
                        <img src="images/icons/finance_mode_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png" alt="Sales Report" />
                    </div>
                    <div class="Content">
                        <h4 class="title">
                            <a href="#">History</a>
                        </h4>
                        <p>View and manage: receipts, day end reports</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="Card-box">
                    <div class="thumb">
                        <img src="images/icons/finance_mode_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png" alt="Sales Report" />
                    </div>
                    <div class="Content">
                        <h4 class="title">
                            <a href="#">Promotion</a>
                        </h4>
                        <p>View manage promotions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@code {

}
