body {
}

.btn-light {
    background-color: #e0e0e0; /* Light gray */
    color: #333;
    border-radius: 8px;
    padding: 16px;
    width: 80px; /* added for consistency */
    height: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .btn-light:hover {
        background-color: #d0d0d0;
    }

thead.table-primary th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa; /* Bootstrap's thead-light background */
    z-index: 1;
}

tfoot.table-light tr td {
    position: sticky;
    bottom: 0;
    background-color: #f8f9fa; /* Bootstrap's bg-light background */
    z-index: 1;
}

/*.bottom-aligned {
    position: relative;
    bottom: 0;
    width:inherit;
}*/

.background-colour-light-blue{
    background-color:lightskyblue !important;
}

.background-colour-light-yellow {
    background-color: lightyellow !important;
}

.background-colour-light-red {
    background-color: lightcoral !important;
}

.background-colour-light-green{
    background-color: lightgreen !important;
}

.background-colour-light-pink {
    background-color: lightpink !important;
}